.app {
  text-align: center;
  display: flex;
  flex-direction: column;
  height: 100vh;
  /* align-items: center; */
}

.slideInTop {
  animation: slideInTop 0.3s ease-in-out;
}

.slideInBottom {
  animation: slideInBottom 0.3s ease-in-out;
}

@keyframes slideInTop {
  from {
    transform: translateY(-100px);
    opacity: 0;
  }
  to {
    transform: translateY(0px);
    opacity: 1;
  }
}

@keyframes slideInBottom {
  from {
    transform: translateY(100px);
    opacity: 0;
  }
  to {
    transform: translateY(0px);
    opacity: 1;
  }
}
